body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a5dee4;
  color: #000;
}

.white {
  background-color:white;
}

.button_create {
  text-align: center;
}

.text_complete {
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
}

.login_first {
  margin-top:15px;
}
